/* 公共样式 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.shortcut {
    font-size: 12px;
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
    color: #666666;
}

.shortcut .fl {
    float: left;
    height: 100%;
}

.shortcut .fl a {
    margin-left: 5px;
    color: #c81623;
}

.shortcut .fr {
    float: right;
    height: 100%;
}

.shortcut .fr ul li {
    float: left;
    margin-left: 15px;
}

.arrow-icon::after {
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}

.header {
    position: relative;
    height: 106px;
    /* line-height: 106px; */
    /* background-color: pink; */
    /* margin-right: 12px; */
}

.header .logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 210px;
    /* background-color: blue; */
    /* height: 100%; */
}
.logo a{
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* font-size: 0;京东做法 */
    text-indent: -999px;
    overflow: hidden;
    /* 淘宝做法 */
}
.search {
    position: absolute;
    top: 25px;
    left: 350px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}

.search input {
    float: left;
    width: 454px;
    height: 32px;
}

.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: #b1191a;
    /* border-radius: 0 0; */
}

.hotwords {
    position: absolute;
    top: 70px;
    left: 359px;
}

.hotwords a {
    float: left;
    margin-right: 25px;
    color: #666666;
}

.hotwords a:first-child {
    float: left;
    margin-right: 25px;
    color: #c81623;
}

.shopcar {
    position: absolute;
    top: 28px;
    left: 997px;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-color: #f7f7f7;
    color: #666666;
}

.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    /* margi    n-left: 6px; */
}

.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    /* margi    n-left: 6px; */
}

.shopcar .count {
    position: absolute;
    top: -5px;
    left: 95px;
    /* width: 14px; */
    height: 14px;
    line-height: 14px;
    padding: 0 5px;
    border: 1px solid red;
    border-radius: 7px 7px 7px 0;
    background-color: #e60012;
    color: #fefefe;
}
/* 快捷导航栏 */
.nav .dropdown{   
    float: left;
    width: 210px;
    height: 47px;
    background-color:#b1191a;
    color: #ffffff;
}
.nav .dropdown .dt {   
    width: 100%;
    height: 100%;
    color: #ffffff;
    line-height: 47px;
    text-align: center;
    font-size: 16px;
}
.nav .dropdown .dd {
    /* visibility: hidden; */
    display: block;
    width: 100%;
    height: 465px;
    color: #000;
    background-color: #c81623;
}

.nav .dropdown .dd ul li{
    position: relative;
    height: 31px;
    line-height: 31px;
    /* text-align: center; */
    padding-left: 10px;
    color: #f1d3d4;
}
.nav .dropdown .dd ul li::after{
    float: right;
    content: '\ea42';
    font-family: 'icomoon';
    position: absolute;
    top: 1px;
    right: 10px;
}
.nav .dropdown .dd ul li:hover{
    background-color: #f7f7f7;
    color: #c81623;
}

.nav .navitems{
    float: left;
    height: 47px;
    line-height: 47px;
    text-align: center;
    margin-left: 42px;
}
.nav::after{
    content: '';
    display: block;
    clear:both;
    height: 0;
    visibility: hidden;
}
.nav .navitems ul li {
    float: left;
    margin-right: 50px;
    color: #494949;
    font-size: 16px;
}
/* e920 */
/* 底部 */
.footer {
    height: 420px;
    padding-top: 30px;
}

.mod-service {
    /* position: relative; */
    /* float: left; */
    /* width: 100%; */
    height: 110px;
    /* background-color: pink; */
    /* line-height: 110px; */
    border-bottom: 1px solid #ccc;
}

.mod-service .service {
    position: relative;
    float: left;
    height: 110px;
    width: 240px;
    /* line-height: 110px; */
}

.mod-service .pic {
    position: absolute;
    top: 30px;
    left: 36px;
    float: left;
}

.mod-service .production {
    position: absolute;
    top: 36px;
    left: 93px;
    float: left;
    /* width: 150px;    */

}

.mod-help {
    height: 190px;
    padding-top: 20px;
    padding-left: 50px;
    border-bottom: 1px solid #ccc;
}

.mod-help dl {
    float: left;
    /* margin-left: 50px; */
    width: 200px;

    /* height: 190px; */
}

.mod-help dl:last-child {
    float: left;
    /* margin-left: 50px; */
    width: 90px;
    text-align: center;
    /* height: 190px; */
}

.mod-help dl dt {
    /* float: left; */
    font-size: 16px;
    color: #797979;
    font-weight: 700;
    padding-bottom: 12px;
}

/* .mod-help dl dd{
    float: left; 
    font-size: 12px;
    color: #797979;
    font-weight: 700;
} */
.mod-copyright {
    height: 120px;
    text-align: center;
}

.mod-copyright .links{
    /* text-align: center; */
    /* margin-right: 15px; */
    margin-top: 20px;
}
.links a {
    margin-right: 15px;
    margin-left: 15px;
}
.mod-copyright .copyright{
    /* text-align: center; */
    /* margin-right: 15px; */
    margin-top: 15px;
}